/* GLOBAL */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


@font-face {
    font-family: light;
    src: url(./font/WTGothic-Light.woff2);

}

@font-face {
    font-family: regular;
    src: url(./font/WTGothic-Regular.woff2);
}

@font-face {
    font-family: medium;
    src: url(./font/WTGothic-Medium.woff2);
}

@font-face {
    font-family: semibold;
    src: url(./font/WTGothic-Semi-Bold.woff2);
}

@font-face {
    font-family: bold;
    src: url(./font/WTGothic-Bold.woff2);
}

/* VARIABLES */
:root {
    background-color: var(--white);
    /* background-image: url(/img/back.png);
    background-origin: border-box;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center -40%;
    background-size: 100%; */
    --white: #EFEFEF;
    --black: #000000;
    
}




section{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: calc(var(--vh, 1vh) * 100);
}

.img-container{
    position: relative;
    background-image: url(https://images.unsplash.com/photo-1542291026-7eec264c27ff?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80);
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    width: calc(30vw + 30vh);
    height: calc(17vw + 17vh);
    /* width: clamp(250px,75%,752px);
    height: clamp(150px,50%,448px); */
    /* box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px; */
    cursor: default;
    pointer-events: none;
}

.img-container > *{
    opacity: 0;
}


.img-container h1{
        position:absolute;
        font-family: bold;
        font-size: calc(6vw + 6vh);
        pointer-events: none;


}
.img-container h1:nth-child(1){
    top: -4vw;
    right:15vw;
    color: transparent;
    -webkit-text-stroke-width: calc(.1vw + .1vh);
    -webkit-text-stroke-color: var(--black);
}


.img-container h1:nth-child(2){
    bottom: -3vw;
    right: -13vw;
    color: transparent;
    -webkit-text-stroke-width: calc(.1vw + .1vh);
   -webkit-text-stroke-color: var(--black);
    z-index: 1;
}

.img-logo{
    display: none;
}






.behance-circle{
    z-index: 1;
    position: absolute;
    top:8%;
    right: 8%;
    border: rgba(0, 0, 0, 0.55) calc(.3vw - .3vh) solid;
    width:  calc(5.5vh + 5.5vw);
    height: calc(5.5vh + 5.5vw);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    backdrop-filter: blur(10px) saturate(100%);
    -webkit-backdrop-filter: blur(10px) saturate(100%);
}


.behance-circle a{
    font-size: calc(.8vw + .8vh);
    color: var(--black);
}


h2{
    position: absolute;
    font-family: light;
    text-align: center;
    bottom: -15%;
    width: 100%;
    font-size: calc(.55vw + .55vh);
    line-height: 1.5;
}

/* .img-container > *{
    opacity: 0;
} */




nav{
    backdrop-filter: blur(10px) saturate(100%);
    -webkit-backdrop-filter: blur(10px) saturate(100%);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: calc(1.35vw + 1.35vh) 10% calc(1.35vw + 1.35vh) 10%;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}


#logo-box {
    display: flex;
    align-items: center;
    opacity: 0.8;
}

#logo-box a{
    padding-left: 0.5rem;
    font-family: medium;
}

#logo-box img{
width: calc(1.43vw + 1.43vh);
height: auto;
}

a {
    font-size: calc(.7vw + .7vh);
    font-family: regular;
    text-decoration: none;
    color: var(--black);
}

#nav-links{
display: flex;
}

#nav-links a:nth-child(3){
    margin-left: 2em;
}
#nav-links a:nth-child(2){
    margin-left: 2em;
}


footer{
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 1;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: calc(1.3vw + 1.3vw) 10% calc(1.3vw + 1.3vw) 10%;
}

#burger{
    display: none;
}



#icons {
    position: fixed;
    color: rgba(0,0,0,0.6);
    z-index: 1;
    right: 9vw;
    top: 50%;
    display: block;
    display: grid;
    row-gap: calc(1vw + 1vh);
    transform: translate(-50%, -50%);
    font-size: calc(.7vw + .7vh);
    cursor: pointer;
    font-family: regular;
}


#icons li {
    text-align: center;
    list-style: none;

}

#icons li.active {
    color: rgba(0,0,0,1);
    font-family: medium;
    transition: transform 0.1s;
    transition-timing-function: ease-in-out;
    transform: scale(1.3, 1.3);
    /* border: 2px solid var(--black); */
}




#nav-links a{
    position: relative;
    white-space: nowrap;
}

#nav-links a::before{
    transform-origin: 50% 100%;
    transition: clip-path 0.3s, transform 0.3s cubic-bezier(0.2, 1, 0.8, 1);
    clip-path: polygon(0% 0%, 0% 100%, 0 100%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%, 100% 100%, 100% 0%);
}

#nav-links a:hover::before{
     transform: translate3d(0, 2px, 0) scale3d(1.08, 3, 1);
    clip-path: polygon(0% 0%, 0% 100%, 50% 100%, 50% 0, 50% 0, 50% 100%, 50% 100%, 0 100%, 100% 100%, 100% 0%);
}

#nav-links a span{
    display: inline-block;
    transition: transform 0.3s cubic-bezier(0.2, 1, 0.8, 1);
}


#nav-links a::before,
#nav-links a::after {
    position: absolute;
    width: 100%;
    height: calc(.02vw + .02vh);
    background: currentColor;
    top: 100%;
    left: 0;
    pointer-events: none;
}

#nav-links a::before {
    content: '';
    /* show by default */
}

#nav-links a:hover span {
    transform: translate3d(0, -2px, 0);
}









footer a{
    position: relative;
    white-space: nowrap;
    cursor: pointer;
}

footer a::before{
    transform-origin: 50% 100%;
    transition: clip-path 0.3s, transform 0.3s cubic-bezier(0.2, 1, 0.8, 1);
    clip-path: polygon(0% 0%, 0% 100%, 0 100%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%, 100% 100%, 100% 0%);
}

footer a:nth-child(even){
    cursor:default;
}

footer a:nth-child(odd):hover::before{
     transform: translate3d(0, 2px, 0) scale3d(1.08, 3, 1);
    clip-path: polygon(0% 0%, 0% 100%, 50% 100%, 50% 0, 50% 0, 50% 100%, 50% 100%, 0 100%, 100% 100%, 100% 0%);
}

footer a span{
    display: inline-block;
    transition: transform 0.3s cubic-bezier(0.2, 1, 0.8, 1);
}


footer a::before,
footer a::after {
    position: absolute;
    width: 100%;
    height: calc(.02vw + .02vh);
    background: currentColor;
    top: 100%;
    left: 0;
    pointer-events: none;
}

footer a::before {
    content: '';
    /* show by default */
}

footer a:hover span {
    transform: translate3d(0, -2px, 0);
}

    /* #burger-con{
        cursor: pointer;
        display:none;
    }


 */


/* @media only screen and (max-width: 319px) {
    :root {
        display: none;
    }
} */




@media screen and (orientation:portrait){

    body{
        width: auto;
        height: auto;
        position: relative;
        border: 1px solid magenta;
        touch-action: pan-y;
    } 

    body *{ touch-action: pan-y;}
    /* section >*{
        pointer-events: none;
    } */
    #nav-links{
    display: none;
    }

    #fullpage{touch-action: pan-y;}
    
    /* footer a:nth-child(2){
    display: none;
    } */

    /* section{
        position: relative;
    } */
    .section:nth-child(1){
        background-color: lightseagreen;
    }

    .img-container{
    position: absolute;
    top:0;
    left: 0;
    width: 50vw;
    height: 100vh;
    border: solid 1px yellow;
    /* pointer-events: none; */
    /* display: none; */
    touch-action: pan-y;
    }
    /* .img-container *{
        touch-action: none;
        pointer-events: none;
        display: none;
    } */

    nav{
        display: none;
    }


    #logo-box{
        opacity:1;
    }

    #logo-box img{
        width: calc(3vw + 3vh);
    }

    #logo-box a{
        font-size: calc(1.5vw + 1.5vh);
        width: 50%;
    }

    footer{
        /* padding: 10%  calc(2vw + 2vh) 10% calc(2vw + 2vh) ; */
        background-color: var(--white);
        width: 20vw;
        top: 0;
        right: 0;
        padding: 0 0 0 0;
        display: grid;
        justify-content: space-evenly;
        justify-items: center;
        align-items: center;
        z-index: 999;
        height: calc(var(--vh, 1vh) * 100);

    }

    footer i{
        font-size: calc(1.8vw + 1.8vh);
    }
        footer a{
        font-size: calc(1.5vw + 1.5vh);
        font-family: regular;
        writing-mode: vertical-rl;
        text-transform: uppercase;
    }


    #burger{
        opacity: 1;
        cursor: pointer;
        display:initial;
    }




    #burger-box{
        position: absolute;
        top: 0;
        right: 20vw;
        width: 80vw;
        height: 100vh;
        z-index: 1;
        display: none;
        justify-content: center;
        justify-items: center;
        align-items: center;
        background-color: transparent;
        backdrop-filter: blur(0) saturate(100%);
    }

    .burg-link-box{
        display: none;
    }

    

    .burger-links{
        color: #ffffff;
        font-size: calc(3vw + 3vh);
        opacity: 0;
        text-align: center;
        font-family: medium;
        line-height: 1.5
    }

    #icons{
        right: calc(1.3vw + 1.3vh);
        top: calc(20vw + 20vh);
        display: none;
    }

    #icons li{
        writing-mode: vertical-rl;
       font-size: calc(1.5vw + 1.5vh);
    }



    .behance-circle{
       pointer-events: auto;
        top:2vw;
        right: 4vw;
        width: 50%;
        height:auto;
        backdrop-filter: blur(0px) saturate(100%);
        -webkit-backdrop-filter: blur(0px) saturate(100%);
        border-radius: 0;
        opacity: 1;
    }

    .behance-circle a{
        color: var(--white);
        line-height: 1.5;
        font-size: calc(1.5vw + 1.5vh);
        text-align: right;
        font-family: regular;
    }
    

    .desc{
        opacity: 1;
        font-family: regular;
        color: var(--white);
        text-align: right;
        width: 80%;
        font-size: calc(1.5vw + 1.5vh);
        bottom: 2vw;
        right: 4vw;
    }


    .img-logo{
        filter: invert(100%) sepia(2%) saturate(1760%) hue-rotate(186deg) brightness(109%) contrast(87%);
        display: initial;
        opacity: 1;
        position: absolute;
        top:4vw;
        left: 4vw;
        width:calc(3.5vw + 3.5vh);
    }

    
}
