/* GLOBAL */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


@font-face {
    font-family: light;
    src: url(/font/WTGothic-Light.woff2);

}

@font-face {
    font-family: regular;
    src: url(/font/WTGothic-Regular.woff2);
}

@font-face {
    font-family: medium;
    src: url(/font/WTGothic-Medium.woff2);
}

@font-face {
    font-family: semibold;
    src: url(/font/WTGothic-Semi-Bold.woff2);
}

@font-face {
    font-family: bold;
    src: url(/font/WTGothic-Bold.woff2);
}

/* VARIABLES */
:root {
    background-color: var(--white);
    /* background-image: url(/img/back.png);
    background-origin: border-box;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center -40%;
    background-size: 100%; */
    --white: #EFEFEF;
    --black: #000000;
}


section{
        position: relative;
        display: grid;
        justify-items: center;
        align-items: center;
}

section h1{
        position:absolute;
        font-family: semibold;
        font-size: clamp(3.00rem, calc(1.60rem + 7.00vw), 10.00rem);
        pointer-events: none;

}
section h1:nth-child(1){
    top: 20vh;
    left:25vh;
    color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: var(--white);
    z-index: 1;
}

section h1:nth-child(2){
    top: 20vh;
    left:25vh;
    z-index: 0;

    
}

section h1:nth-child(3){
    top: 35vh;
    right:45vh;
    color: transparent;
    -webkit-text-stroke-width: 2px;
   -webkit-text-stroke-color: var(--white);
    z-index: 1;
}



section h1:nth-child(4){
    top: 35vh;
    right:45vh;
    z-index: 0;
    
    
}


.img-container{
    background-image: url(https://images.unsplash.com/photo-1542291026-7eec264c27ff?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80);
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    width: clamp(250px,75%,752px);
    height: clamp(150px,50%,448px);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
    cursor: default;
}

.behance-circle{
    z-index: 999;
    position: absolute;
    top:13%;
    right: -1%;
    border: #ccc 1px solid;
    width: 150px;
    height: 150px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    backdrop-filter: blur(10px) saturate(100%);
    -webkit-backdrop-filter: blur(10px) saturate(100%);
}


.behance-circle a{
    font-size: 1.5rem;
    color: var(--white);
}




nav{
    backdrop-filter: blur(10px) saturate(100%);
  -webkit-backdrop-filter: blur(10px) saturate(100%);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.5rem 10% 2.5rem 10%;
    border-bottom: solid 1px #ccc;
    /* margin-top: 3.5rem; */
}

#logo-box {
    display: flex;
    align-items: center;
}

#logo-box a{
    padding-left: 0.5rem;
    font-family: medium;
    line-height: 20px;
}

a {
    font-size: clamp(1.00rem, calc(0.95rem + 0.25vw), 1.25rem);
    font-family: medium;
    text-decoration: none;
    color: var(--black);
}

#nav-links a:nth-child(3){
    margin-left: 2em;
}
#nav-links a:nth-child(2){
    margin-left: 2em;
}


footer{
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10% 0 10%;
    margin-bottom: 3.5rem;
}



#icons {
    position: fixed;
    color: var(--black);
    z-index: 999;
    right: 9vw;
    top: 50%;
    display: block;
    display: grid;
    row-gap: 2rem;
    transform: translate(-50%, -50%);
    font-size: clamp(0.88rem, calc(0.80rem + 0.38vw), 1.25rem);
    cursor: pointer;
    font-family: medium;
}


#icons li {
    text-align: center;
    list-style: none;

}

#icons li.active {
    font-family: semibold;
    transition: transform 0.1s;
    transition-timing-function: ease-in-out;
    transform: scale(1.3, 1.3);
    /* border: 2px solid var(--black); */
}




#nav-links a{
    position: relative;
    white-space: nowrap;
}

#nav-links a::before{
    transform-origin: 50% 100%;
    transition: clip-path 0.3s, transform 0.3s cubic-bezier(0.2, 1, 0.8, 1);
    clip-path: polygon(0% 0%, 0% 100%, 0 100%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%, 100% 100%, 100% 0%);
}

#nav-links a:hover::before{
     transform: translate3d(0, 2px, 0) scale3d(1.08, 3, 1);
    clip-path: polygon(0% 0%, 0% 100%, 50% 100%, 50% 0, 50% 0, 50% 100%, 50% 100%, 0 100%, 100% 100%, 100% 0%);
}

#nav-links a span{
    display: inline-block;
    transition: transform 0.3s cubic-bezier(0.2, 1, 0.8, 1);
}


#nav-links a::before,
#nav-links a::after {
    position: absolute;
    width: 100%;
    height: 0.019rem;
    background: currentColor;
    top: 100%;
    left: 0;
    pointer-events: none;
}

#nav-links a::before {
    content: '';
    /* show by default */
}

#nav-links a:hover span {
    transform: translate3d(0, -2px, 0);
}









footer a{
    position: relative;
    white-space: nowrap;
    cursor: pointer;
}

footer a::before{
    transform-origin: 50% 100%;
    transition: clip-path 0.3s, transform 0.3s cubic-bezier(0.2, 1, 0.8, 1);
    clip-path: polygon(0% 0%, 0% 100%, 0 100%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%, 100% 100%, 100% 0%);
}

footer a:nth-child(even){
    cursor:default;
}

footer a:nth-child(odd):hover::before{
     transform: translate3d(0, 2px, 0) scale3d(1.08, 3, 1);
    clip-path: polygon(0% 0%, 0% 100%, 50% 100%, 50% 0, 50% 0, 50% 100%, 50% 100%, 0 100%, 100% 100%, 100% 0%);
}

footer a span{
    display: inline-block;
    transition: transform 0.3s cubic-bezier(0.2, 1, 0.8, 1);
}


footer a::before,
footer a::after {
    position: absolute;
    width: 100%;
    height: 0.019rem;
    background: currentColor;
    top: 100%;
    left: 0;
    pointer-events: none;
}

footer a::before {
    content: '';
    /* show by default */
}

footer a:hover span {
    transform: translate3d(0, -2px, 0);
}





@media only screen and (max-width: 319px) {
    :root {
        display: none;
    }
}




@media screen and (orientation:portrait){
    #nav-links{
    display: none;
    }
    
    footer a:nth-child(2){
    display: none;
    }

    section h1{
        display:none;
    }
    :root{
        background-image: none;
    }
}

@media only screen and (max-width: 900px){


}